<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <h1>User List (Admin Access Only)</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Human (Admin)?</th>
                <th>Mood</th>
                <th>Account Enabled?</th>
                <th>Profession</th>
                <th>Roles</th>
            </tr>
            <tr th:each="user:${users}">
                <td style="background-color:#FF7F50" th:text="${user.name}"></td>
                <td style="background-color:#98FB98" th:text="${user.email}"></td>
                <td style="background-color:#FF7F50" th:text="${user.birthday}"></td>
                <td style="background-color:#98FB98" th:text="${user.human}"></td>
                <td style="background-color:#FF7F50" th:text="${user.mood}"></td>
                <td style="background-color:#98FB98" th:text="${user.enabled}"></td>
                <td style="background-color:#FF7F50" th:text="${user.profession}"></td>
                <td style="background-color:#98FB98" th:each="role:${user.roles}" th:text="${role.role}"></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="fragments :: footer"/>
</body>
</html>